body {
    font-family: 'Lato', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.flashes h4 {
    line-height: 2;
}

  /* Active Default input field color */
  .input-field input[type]:focus:not([readonly]),
  .input-field textarea:focus:not([readonly]) {
      border-bottom: 1px solid #1a237e;
      box-shadow: 0 1px 0 0 #1a237e;
  }

  /* Active Default input range color */
  .input-field input[type="range"]:focus:not([readonly]) {
      border-bottom: 1px solid #1a237e;
      box-shadow: 0 1px 0 0 #1a237e;
  }

  input[type=range]+.thumb,
  input[type=range]::-webkit-slider-thumb {
      background-color: #1a237e;
  }

  /* Active Default input label color */
  .input-field input[type]:focus:not([readonly])+label,
  .input-field textarea:focus:not([readonly])+label {
      color: #1a237e;
  }