*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --select-border: #9e9e9e;
    --select-focus: blue;
    --select-arrow: var(--select-border);
    --select-disabled: var(var(--select-border));
    --indigo: #1a237e;
  }

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

strong {
    font-weight: 700;
}

/* ----- CUSTOM SELECT INPUT USING ACTUAL input type="select" ----- */
/* ----- BASED ON THE REFERENCE BELOW ----- */
/* REFERENCE: https://moderncss.dev/custom-select-styles-with-pure-css/ */
select {
    /* Reset styles of default select */
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: var(--select-border);
}

.cust_select {
    width: calc(100% - 3rem);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--select-border);
    padding: 0.25em 0.5em;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.1;
    display: grid;
    grid-template-areas: "sel1 sel2";
    grid-template-columns: 0px 1fr;
    align-items: center;
    margin-left: 3rem;
}

.cust_select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

.cust_select > i {
    grid-area: sel1;
}

select, .cust_select::after {
    grid-area: sel2;
}

.cust_select > i {
    left: -3.35rem;
    position: relative;
}

.cust_select > option:not([disabled]) {
color: var(--indigo);
}
/* ----- /CUSTOM SELECT INPUT ----- */


/* ----- CUSTOM INPUT RANGE SLIDER ----- */
/* ----- BASED ON THE REFERENCE BELOW ----- */
/* REFERENCE: https://www.w3schools.com/howto/howto_js_rangeslider.asp */

.slidercontainer {
    width: calc(100% - 3rem);
    border-width: 0 0 0 0;
    border-style: solid;
    border-color: var(--select-border);
    padding: 0.25em 0.5em;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.1;
    display: grid;
    grid-template-areas: "a1 a2"
                         "b1 b2"
                         "c1 c2";
    grid-template-columns: 0px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    margin-left: 3rem;
}

.slidercontainer input {
    -webkit-appearance: none;  /* remove default CSS styles */
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: var(--select-border);
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    grid-area: b2;
}

.slidercontainer input:hover {
    opacity: 1;
}

.slidercontainer > label {
    grid-area: a2;
    font-size: 1rem;
}

.slidercontainer > i {
    grid-area: b1;
    left: -3.35rem;
    position: relative;
}

.slidercontainer > .thumb {
    grid-area: b2;
}

datalist {
    grid-area: c2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--indigo);
  }

/* ----- /CUSTOM RANGE SLIDER ----- */

.btn-small {
    margin-right: 5px;;
}

.flashes h4 {
line-height: 2;
}


/* ----- CUSTOM MATERIALIZE FAB TOOLBAR ----- */
/* -- DERIVED BT EXPERIMENTATION IN DEV TOOLS -- */
.fixed-action-btn.toolbar ul {
    justify-content: space-evenly;
}

.fixed-action-btn.toolbar ul li {
    flex: 0 1 auto;
}


/* ----- CUSTOM MATERIALIZE INPUT COLOURS ----- */
/* REFERENCE: https://stackoverflow.com/questions/37127123/change-color-of-underline-input-and-label-in-materialize-css-framework */
/* Active Default input field color */
.input-field input[type]:focus:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    border-bottom: 1px solid #7c7d81;
    box-shadow: 0 1px 0 0 var(--indigo);
}

/* Active Default input range color */
.input-field input[type="range"]:focus:not([readonly]) {
    border-bottom: 1px solid var(--indigo);
    box-shadow: 0 1px 0 0 var(--indigo);
}

input[type=range]+.thumb,
input[type=range]::-webkit-slider-thumb {
    background-color: var(--indigo);
}

/* Active Default input label color */
.input-field input[type]:focus:not([readonly])+label,
.input-field textarea:focus:not([readonly])+label {
    color: var(--indigo);
}

.dropdown-content li>span {
    color: var(--indigo);
}