<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/favicon_anim.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" as="script">
        <link rel="preload" href="{{ url_for('static', filename='js/script.js') }}" as="script">
        {% block styles %}
        {% endblock %}
        <title>We'll Look Into It - Pothole Reporter</title>
    </head>

    <body>

        <header>
            <nav>
                <div class="nav-wrapper purple text-white">
                    <a href="{{ url_for('get_potholes') }}" class="brand-logo right">We'll Look Into It</a>
                    <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="left hide-on-med-and-down">
                        <li class="{{ potholes_nav }}"><a href="{{ url_for('get_potholes') }}">Potholes</a></li>
                        {% if session.user %}
                            <li class="{{ profile_nav }}"><a href="{{ url_for('profile') }}">Your Profile</a></li>
                            <li class="{{ logout_nav }}"><a href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                            <li class="{{ login_nav }}"><a href="{{ url_for('login') }}">Log In</a></li>
                            <li class="{{ register_nav }}"><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-sidenav">
                <li><h4 class="center-align">We'll Look Into It</h4></li>
                        <li class="{{ potholes_nav }}"><a href="{{ url_for('get_potholes') }}">Potholes</a></li>
                        {% if session.user %}
                            <li class="{{ profile_nav }}"><a href="{{ url_for('profile') }}">Your Profile</a></li>
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                            <!-- if user is admin -->
                            {% if session.admin %}
                                <li class="{{ areas_nav }}"><a href="">Areas</a></li>
                                <li class="{{ statuses_nav }}"><a href="">Pothole Statuses</a></li>
                                <li class="{{ users_nav }}"><a href="">Users</a></li>
                                {% if session.user == 'martin' %}
                                    <li class="{{ counties_nav }}"><a href="{{ url_for('get_counties') }}">Counties</a></li>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <li class="{{ login_nav }}"><a href="{{ url_for('login') }}">Log In</a></li>
                            <li class="{{ register_nav }}"><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
        </header>


        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
                {% if session.admin %}
                    <div class="fixed-action-btn toolbar">
                        <a class="btn-floating btn-large purple darken-4">
                            <i class="large material-icons">admin_panel_settings</i>
                        </a>
                        <ul>
                            <li><a href="{{ url_for('users') }}" class="waves-effect waves-light"><i class="material-icons left">people</i> Users</a></li>
                            <li><a href="{{ url_for('get_areas') }}" class="waves-effect waves-light"><i class="material-icons left">signpost</i> Areas</a></li>
                            <li><a href="{{ url_for('get_status') }}" class="waves-effect waves-light"><i class="material-icons left">fact_check</i>Pothole Status'</a></li>
                            {% if session.user == 'martin' %}
                            <li><a href="{{ url_for('get_counties') }}" class="waves-effect waves-light"><i class="material-icons left">map</i>Counties</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </main>

        <footer class="page-footer purple lighten-2 text-white">
            <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">We'll Look Into It</h5>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <p class="grey-text text-lighten-4">A pothole reporting system for use by any council</p>
                  </div>
                </div>
              </div>
            <div class="footer-copyright purple">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m10 offset-m1">
                            © 2021 Copyright Martin Bannister-Kelly
                        </div>
                    </div>
                    <!--
                    <div class="fixed-action-btn">
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
                            <i class="material-icons">add</i>
                        </a>
                        <li><a href=""></a></li>
                        <li><a href="">Areas</a></li>
                        <li><a href="">Pothole Statuses</a></li>
                        <li><a href="">Users</a></li>
                    </div>-->
                </div>
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/flash_messages.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script>
            // flash messages
            // trying to render as Materialize toasts
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                            flash_toast('{{ message }}', '{{ category }}');
                    {% endfor %}
                {% else %}
                            console.log('no flash message received');
                {% endif %}
            {% endwith %}
        </script>
        {% block scripts %}
        {% endblock %}

    </body>

</html>