{% extends "base.html" %}
{% set counties_nav = "active" %}

{% block content %}
    <h3 class="indigo-text text-darken-4 center-align">Edit County</h3>

    <div class="row card-panel purple lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_county', county_id=county._id) }}">

            <!-- county -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix indigo-text text-darken-4">map</i>
                    <input id="county_name" name="county_name" value="{{ county.county_name }}" type="text" class="validate" required>
                    <label for="county_name">County*</label>
                </div>
            </div>

            <!-- primary colour -->
            <!-- colour to be use for future site themeing -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix indigo-text text-darken-4">palette</i>
                    <input id="primary_colour" name="primary_colour" value="{{ county.primary_colour }}" type="text" class="validate" required>
                    <label for="primary_colour">Primary Colour*</label>
                </div>
            </div>

            <!-- logo URL -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix indigo-text text-darken-4">link</i>
                    <input id="logo_url" name="logo_url" value="{{ county.logo_url }}" type="number" class="validate">
                    <label for="logo_url">Logo Link</label>
                </div>
            </div>

            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn-large purple waves-effect waves-light" type="submit">
                        Save County<i class="material-icons right">save</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}