{% extends "base.html" %}

{% block content %}
    <h3 class="indigo-text text-darken-4 center-align">Manage Pothole</h3>

    <div class="row card-panel purple lighten-5">
        <p><em>County: </em><strong>{{ pothole.county_name }}</strong></p>
        <p><em>Area: </em><strong>{{ pothole.area_name }}</strong></p>
        <p><em>Location: </em><strong>{{ pothole.pothole_location }}</strong></p>
        <p><em>Depth (mm): </em><strong>{{ pothole.depth }}</strong></p>
        <p><em>Severity: </em><strong>{{ pothole.severity }}/6</strong></p>
        <p><em>Comments: </em><strong>{{ pothole.comments }}</strong></p>
    </div>

    <div class="row card-panel orange lighten-4">
        <form class="col s12" method="POST" action="{{ url_for('manage_pothole', pothole_id=pothole._id) }}">

            <!-- admin comments -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix indigo-text text-darken-4">comment</i>
                    <textarea id="admin_comments" name="admin_comments" rows="4" cols="50" class="materialize-textarea"
                        data-length="200">{{ pothole.admin_comments }}</textarea>
                    <label for="admin_comments">Comments</label>
                </div>
            </div>

            <!-- pothole status -->
            <div class="row">
                <div class="col s12">
                    <label for="pothole_status" class="hide">Pothole Status</label>
                    <div class="cust_select">
                        <select id="pothole_status" name="pothole_status" class="validate indigo-text text-darken-4 browser-default" required>
                            <option value="" disabled selected>Set the pothole status</option>
                            {% for status in statuses %}
                                    <option value="{{ status.pothole_status }}" {% if status.pothole_status == pothole.pothole_status %}selected{% endif %}>{{ status.pothole_status }}</option>
                            {% endfor %}
                        </select>
                        <i class="material-icons indigo-text text-darken-4">fact_check</i>
                    </div>
                    
                </div>
            </div>

            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- Close button -->
                    <a href="{{ url_for('get_potholes') }}" class="btn red"><i class="material-icons left">close</i>Close</a>
                    <!-- Save button -->
                    <button class="btn purple waves-effect waves-light" type="submit">
                        <i class="material-icons left">save</i>Save
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}