{% extends "base.html" %}
{% block content %}
<h3 class="indigo-text text-darken-4 center-align">Potholes</h3>

<div class="row">
    <div class="col s12">

        <ul class="collapsible popout">
            
        {% for pothole in potholes %}
            <li>
                <div class="collapsible-header hoverable purple white-text tooltipped" data-position="left" data-tooltip="Click for more info">
                    <i class="material-icons">disc_full</i>
                    <strong><em>{{ pothole.pothole_location }}</em></strong>
                    <span class="new badge orange" data-badge-caption="up votes">{{ pothole.upvotes }}</span>
                </div>
                <div class="collapsible-body white-text purple lighten-1">
                    <p>County: {{ pothole.county_name }}</p>
                    <p>Area: {{ pothole.area_name }}</p>
                    <p>Depth: {{ pothole.depth }}mm</p>
                    <p>Severity: {{ pothole.severity }}</p>
                    <p>Comments: {{ pothole.comments }}</p>
                    <div class="card orange lighten-4">
                        <div class="card-content indigo-text">
                            <span class="card-title">Council Info</span>
                            <p><strong>Council Comments: <em>{{ pothole.admin_comments }}</em></strong></p>
                            <p><strong>Read Status: <em>{{ pothole.read_status }}</em></strong></p>
                            <p><strong>Pothole Status: <em>{{ pothole.pothole_status }}</em></strong></p>
                        </div>
                    </div>
                    <div>
                        <a href="" class="waves-effect waves-light btn-small lime">Edit</a>
                        <a href="" class="waves-effect waves-light btn-small red">Delete</a>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}