{% extends "base.html" %}
{% set potholes_nav = "active" %}

{% block content %}
<h3 class="indigo-text text-darken-4 center-align">Potholes
    {% if session["user"] %}
        <a href="{{ url_for('add_pothole') }}" class="btn-floating btn-large waves-effect waves-light purple darken-4 right">
            <i class="material-icons">add</i>
        </a>
    {% endif %}
</h3>

{% if not session["user"] %}
<div class="row">
    <div class="card grey lighten-5 col s10 offset-s1">
        <h4 class="center-align">Welcome to "We'll Look Into It"</h4>
        <p>A Council agnostic pothole reporting service.</p>
        <p>If you're new to the site and would like to report a pothole please register an account, it's free, quick and easy.</p>
        <p>The personal data you share will not be made available to any councils and will only be used to send you communications from this site that you opt into.  Potholes you report are public.</p>
        <p>If you represent a Council that would like to use this service please <a href="#">contact us</a></p>
    </div>
</div>
{% endif %}

<!-- search feature -->
<div class="container center">
        <div class="card-panel purple lighten-5">
            <div>
                <form action="{{ url_for('pothole_search') }}" method="POST" class="col s12">
                    <!-- the .row div below has inline style as this is a one off change for this search box alone -->
                    <div class="row valign-wrapper" style="margin-bottom: 0;">
                        <div class="input-field col s12 m12 l12 xl6 overide-m-left">
                            <input type="text" name="pothole_query" id="pothole_query" required>
                            <label for="pothole_query"><i class="material-icons">search</i></label>
                        </div>
                        <div class="col s12 m12 l12 xl6 overide-m-left">
                            <a href="{{ url_for('get_potholes') }}" class="btn deep-purple"><i class="material-icons left">refresh</i> Reset</a>
                            <button type="submit" class="purple btn">
                                <i class="material-icons left">search</i> Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
<!-- / search feature -->


<div class="row">
    <div class="col s12">

        <ul class="collapsible popout">
            
        {% for pothole in potholes %}
            <li>
                <div class="collapsible-header hoverable purple white-text">
                    <i class="material-icons tooltipped" data-position="left" data-tooltip="Click for more info">disc_full</i>
                    <strong><em>{{ pothole.pothole_location }}</em></strong>
                    <span class="new badge orange" data-badge-caption="up votes">{{ pothole.upvotes }}</span>
                    {% if session["user"] %}
                        <a href="{{ url_for('upvote_pothole', pothole_id=pothole._id) }}" class="orange-text"><i class="material-icons">plus_one</i></a>
                    {% else %}
                        <a href="#" class="orange-text tooltipped" data-position="bottom" data-tooltip="Please, register to upvote"><i class="material-icons">plus_one</i></a>
                    {% endif %}
                </div>
                <div class="collapsible-body white-text purple lighten-1">
                    <p><em>County</em>: <strong>{{ pothole.county_name }}</strong><br />
                    <em>Area</em>: <strong>{{ pothole.area_name }}</strong><br />
                    <em>Depth</em>: <strong>{{ pothole.depth }}mm</strong><br />
                    <em>Severity</em>: <strong>{{ pothole.severity }}</strong><br />
                    <em>Comments</em>: <strong>{{ pothole.comments }}</strong></p>
                    <div class="card orange lighten-4">
                        <div class="card-content indigo-text">
                            <span class="card-title">Council Info</span>
                            <p><strong>Council Comments: <em>{{ pothole.admin_comments }}</em></strong><br />
                            <strong>Read Status: <em>{{ pothole.read_status }}</em></strong><br />
                            <strong>Pothole Status: <em>{{ pothole.pothole_status }}</em></strong></p>
                        </div>
                    </div>
                    {%  if session.user|lower == pothole.created_by|lower %}
                    <!-- show edit and delete buttons only for the pothole creator user -->
                        <div class="row">
                            <div class="col s12 center-align">
                                <a href="{{ url_for('edit_pothole', pothole_id=pothole._id) }}" class="waves-effect waves-light btn-small lime black-text">Edit</a>
                                {% if pothole.read_status == 'unread' %}
                                <!-- only show the delete button & modal if the pothole hasn't been read by an admin -->
                                    <!-- Modal Trigger -->
                                    <button data-target="delete_confirm{{ loop.index }}" class="btn modal-trigger">Delete</button>
                                    <!-- Modal Structure -->
                                    <div id="delete_confirm{{ loop.index }}" class="modal purple lighten-5">
                                        <div class="modal-content left-align purple-text text-darken-4">
                                            <h4>Delete This Pothole!</h4>
                                            <p>Are you sure?</p>
                                        </div>
                                        <div class="modal-footer purple lighten-4">
                                            <a href="{{ url_for('delete_pothole', pothole_id=pothole._id) }}" class="waves-effect waves-light btn-small red black-text">Yes, Delete</a>
                                            <button class="modal-close btn waves-effect waves-light purple darken-4">No, Close</button>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <!-- feature for council to update potholes -->
                    {% if session.admin %}
                        <!-- show open button only to admin users -->
                        <div class="row">
                            <div class="col s12 center-align">
                                <a href="{{ url_for('manage_pothole', pothole_id=pothole._id) }}" class="waves-effect waves-light btn-small blue black-text">Open</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}