{% extends "base.html" %}
{% set register_nav = "active" %}

{% block content %}

    <h3 class="center-align">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" onsubmit="checkRegisterForm(event)" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" name="username" type="text" class="validate"  minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">map</i>
                        <select id="primary_county" name="primary_county" class="validate" required>
                            <option value="" disabled selected>Choose your preferred County</option>
                            {% for county in counties %}
                                <option value="{{ county.county_name }}">{{ county.county_name }}</option>
                            {% endfor %}
                        </select>
                        <label>Preferred County</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">password</i>
                        <input id="password" name="password" type="password" class="validate" minlength="5" maxlength="50" pattern="^[a-zA-Z0-9]{5,50}$" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="confirm_password" name="confirm_password" type="password" class="validate" minlength="5" maxlength="50" pattern="^[a-zA-Z0-9]{5,50}$" required>
                        <label for="confirm_password">Confirm Password</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s12 btn-large purple">
                        Register <i class="material-icons">login</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already registered? <a href="{{ url_for('login') }}" class="">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}