{% extends "base.html" %}
{% block content %}

<ul id="users_menu" class="sidenav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li><h4 class="center-align">Users</h4></li>
            <li><div class="divider"></div></li>
            {% for county in counties %}
                <li>
                    <a class="collapsible-header">{{ county.county_name }}<i class="material-icons">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            {% for user in users %}
                                {% if user.primary_county == county.county_name %}
                                    <li><a href="#!">{{ user.fullname }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </li>
  </ul>
  <a href="#" data-target="users_menu" class="sidenav-trigger btn purple"><i class="material-icons left">people</i> Users</a>

{% endblock %}